@charset "utf-8";
body { margin: 0px; background-color:#fefefe; font-family:"Arial", Helvetica, sans-serif; font-size:0.750em; color:#6b6b6b; }
@font-face {
	font-family: 'CalibriRegular';
	src: url(../fonts/calibri-webfont.eot);
	src: url(../fonts/calibri-webfont.eot?#iefix) format('embedded-opentype'),
		url(../fonts/calibri-webfont.woff) format('woff'),
		url(../fonts/calibri-webfont.ttf) format('truetype'),
		url(../fonts/calibri-webfont.svg#CalibriRegular) format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'CalibriBold';
	src: url(../fonts/calibrib-webfont.eot);
	src: url(../fonts/calibrib-webfont.eot?#iefix) format('embedded-opentype'),
		url(../fonts/calibrib-webfont.woff) format('woff'),
		url(../fonts/calibrib-webfont.ttf) format('truetype'),
		url(../fonts/calibrib-webfont.svg#CalibriBold) format('svg');
	font-weight: normal;
	font-style: normal;
}
html, body { height:100%; }
header, footer, section, aside, nav, article { display: block; }
h1, h2, h3, h4, h5, h6, section, img, div { behavior: url(PIE.htc) }
h1, h2, h3, h4, h5, h6 { margin:0; padding:0; }
img { border:none; }
.fleft { float:left; }
.fright { float:right; }
p { margin:0; padding:0 0 15px 0; }
.clear { clear:both; }
.clear20 { clear:both; height:20px; }
.clearnone { clear:both; display:none; }

#mainwrapper {width:100%;}
#wrapper{ max-width:940px; margin:0 auto; }
*+html #wrapper{width:940px; margin:0 auto; }

#contant-wrapper { max-width:940px; margin:0 auto; }
#header { width:100%; padding-bottom:20px; }
#headerbackground { width:100%; }
.headerimg { background:url(../images/header_bg.png) left top repeat-x transparent; height:300px; }

.videos { position:absolute;margin-left:532px;margin-top:65px; }
video {
	height: 226px;
	width: 345px;
}

.scan_now{
	background: url("../images/scan_now.png") no-repeat;
    float: right;
    height: 31px;
    width: 151px;
	margin:5px 0 0;
	border:none;
	cursor:pointer;
}

/*sub pages css */

.leftblueboxstrip { width:32%; float:left; background:#ffffff; margin-right:1%; padding-bottom:15px; }
.leftblueboxstrip img { float:left; width:300px; }
.leftblueboxstrip div{ position:absolute; width:270px; margin:25px 0px 0px 20px; }
.leftblueboxstrip .title{ font-size:22px;color:#FFFFFF;font-weight:bold; }
.leftblueboxstrip .text{ margin-top:90px; }
.leftblueboxstrip .text ul { margin-left:30px; padding:0px;  }
.leftblueboxstrip .text ul li { list-style-image:url(../images/true.png); padding:3px;font-size:14px;  }
.greenbox .text ul li { list-style-image:url(../images/true_green.png); font-size:14px;  }
.leftblueboxstrip .bottomtext{ color:#FFFFFF; font-size:20px; text-align:center;margin:13px 0px 0px 0px;}

.centertext { width:32%; float:left; text-align:center; }

.rightblueboxstrip { width:30%; float:left; background:#ffffff; margin-right:1%; padding-bottom:15px; }
.rightblueboxstrip img { float:left; }
.rightblueboxstrip .title{ font-size:22px;color:#FFFFFF;font-weight:bold;position:absolute; margin:28px 0px 0px 90px; }
.rightblueboxstrip .text{ margin-top:90px;position:absolute; width:276px; margin-left:28px;}
.rightblueboxstrip .text ul { margin-left:30px; padding:0px;  }
.rightblueboxstrip .text ul li { list-style-image:url(../images/true.png); padding:3px;font-size:14px;  }
.greenbox .text ul li { list-style-image:url(../images/true_green.png); padding:4px;font-size:14px;  }
.rightblueboxstrip .bottomtext{ color:#FFFFFF; font-size:20px; text-align:center; margin:23px 0px 0px -10px; width:262px;}


.headerimg-sub { background:url(../images/header_bg.png) left bottom repeat-x transparent; height:150px;margin-bottom:20px; }
.headerimg-sub1 { background:url(../images/header_bg.png) left bottom repeat-x transparent; height:150px;margin-bottom:-3px; }
.bluebox { background-color:#f1fbff;border:1px solid #d8e0e3; width:100%;margin-top:20px; padding-bottom:10px;padding-top:10px;}
.bluebox ul { width:100%;margin:0px; padding:0px; }
.bluebox ul li { 
	font-family:Arial, Helvetica, sans-serif;font-weight:bold;
	font-size:12px; 
	float:left; 
	width:20%;
	margin-left:40px;
	padding:5px 2px;
	list-style-image:url(../images/left_arrow.png);
	border-bottom: 3px dotted #CCCCCC; 
}
.contentbox img {margin-top:10px;float:left;margin-right:15px; }
.contentbox p {font-family:Arial, Helvetica, sans-serif;font-size:23px; color:#005e93; }
.contentbox { float:left;font-family:Arial, Helvetica, sans-serif;font-size:14px; }
.PageTitle{ font-family:Arial, Helvetica, sans-serif; font-size:22px;color:#252525; border-bottom: 4px dotted #CCCCCC; width:100%; padding-bottom:5px; margin-bottom:10px; }
.PageTitlenoborder{ font-family:Arial, Helvetica, sans-serif; font-size:22px;color:#414040; width:100%; padding-bottom:2px; margin-bottom:10px; }
.PagesmallTitlenoborder{ font-family:Arial, Helvetica, sans-serif; font-size:16px;color:#414040; width:100%; padding-bottom:2px; margin-bottom:10px; }
.bluetext{ font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:16px;color:#009ede; width:100%; padding-bottom:2px; margin-bottom:10px; }

hr{ border-bottom:2px solid #00a228; border-top:none;}
.boxL { float:left;margin:90px 40px 0px 0px;width:30%; font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:22px; color:#225475; }
.boxC { float:left;margin:25px 0px 0px 0px;width:30%; font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:22px; color:#225475; }
.boxR { float:left;margin:25px 0px 0px 0px;width:35%; font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:22px; color:#225475; }

.rightborder { border-right:4px dotted #CCCCCC; width:40%; float:left; }
.rightborder p { font-weight:bold;font-size:16px; color:#009bdc; }

.rightnetwork { float:left; margin-left:150px; }


.bluesubheader { background-color:#00b7e5; height:auto; color:#FFFFFF;font-weight:bold;font-size:23px;padding:1%; }
.graysubheader { background-color:#f7f7f7; height:auto; min-height:224px; margin-bottom:15px;color:#000;font-weight:bold;font-size:23px;padding:1%; }
.graysubheader #wrapper{ margin:0 auto; width:60%; }

.greyimage { float:left; margin:40px 20px 20px 20px; }
.greyimage1 { float:left; margin-top:90px;}

/* end sub pages css */

.buildingslogan{ width:50%; margin-top:50px;float:left; font-family:"Segoe UI";color:#FFFFFF;font-size:37px;  text-shadow:1px 1px 1px #000;}
.buildingslogan span { font-weight:bold;font-size:43px; }
.monitor img { width:50%; margin-top:45px;float:right; }

.topwrapper{ max-width:940px; margin:0 auto; }
.top {width:100%; float:left; background:#3b3b3b; padding:4px 0 1px 0;}
.logo { width:25%; float:left; text-align:center; padding:15px 0 13px 0; }
.login-box { float:right; width:27%; padding:5px 0px 0px 0px; }
.login-box a { width:30%; color:#a6a5a5; font-size:0.875em; padding:4px 3px; margin:2px 12px; text-decoration:none; }
.login-box span { color:#5a5a5a; }

.call { font-family: 'CalibriBold'; font-size:2.250em; color:#ffffff; text-align:left; padding:0; width:18%; float:left; margin-left:3%; margin-top:-2px;}
.submit {text-align:center;}

nav { float:right; width:60%; text-align:center; font-size:	14px; padding-top:2%;}
nav ul { list-style:none; margin-top:18px; padding:0; }
nav ul li { margin:0; padding:0; text-align:center; display:inline; }
nav ul li a { margin:0 15px; color:#5b595f; font-family: 'Arial'; font-weight:bold; text-transform:uppercase; text-decoration:none; z-index:9999; }
nav ul li:hover { background-color:#00CCFF; padding:7px 0px; color:#FFFFFF; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px;}
nav ul li:hover a {color:#FFFFFF;}

.active { background-color:#00CCFF; padding:7px 0px; color:#FFFFFF; -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; }
.active a{ color:#FFFFFF; }

#banner-main { width:100%; float:left; }
.quick-quote-main { width:23.5%; float:left; background:#ffffff; -webkit-border-radius: 8px; border-radius: 8px; -webkit-box-shadow: 0px 0px 1px 1px #cececd; box-shadow: 0px 0px 1px 1px #cececd; }
.quick-quote-title { width:100%; float:left; background:#3261da; -webkit-border-radius: 8px 8px 0 0; border-radius: 8px 8px 0 0; font-family: 'CalibriBold'; font-size:1.375em; color:#FFFFFF; padding:7px 0; text-align:center; }
.quick-quote-form { width:90%; float:left; padding:2px 3% 10px 4%; }
.quick-quote-form label { width:100%; float:left; color:#717171; font-weight:bold; line-height:18px; padding:6px 0 0 0; font-size:0.875em; }
.txt-box { border:1px solid #d2d2d2; width:98%; font-family:Verdana, Arial, Helvetica, sans-serif; color:#717171; float:left; font-size:0.875em; padding:4px 3px; }
.txt-box2 { border:1px solid #d2d2d2; width:50%; margin:0 10px 0 0; font-family:Verdana, Arial, Helvetica, sans-serif; color:#717171; float:left; font-size:0.875em; padding:4px 3px; }
.banner { width:74%; float:right; }
.banner img { width:100%; height:auto; }
.space { text-align:center; padding-top:10px; }

.input-btn { background:#3261da; -webkit-border-radius: 4px; border-radius: 4px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#ffffff; font-weight:bold; margin:7px 0 0 0; padding:4px 10px; border:0px none; cursor:pointer; }
.input-btn:hover {background:#4978f0; text-decoration:none;}

.input-btn2 { background:#f49632; -webkit-border-radius: 4px; border-radius: 4px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#ffffff; font-weight:bold; margin:0px; padding:4px 10px; border:0px none; cursor:pointer; }
.input-btn2:hover {background:#fba74d; text-decoration:none;}

.input-btn3 { background:#128fe9; -webkit-border-radius: 4px; border-radius: 4px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#ffffff; font-weight:bold; margin:0px; padding:4px 10px; border:0px none; cursor:pointer; }
.input-btn3:hover {background:#229ef7; text-decoration:none;}

.input-btn4 { background:#44993e; -webkit-border-radius: 4px; border-radius: 4px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#ffffff; font-weight:bold; margin:0px; padding:4px 10px; border:0px none; cursor:pointer; }
.input-btn4:hover {background:#51ac4a; text-decoration:none;}

.grid { width:100%; float:left; margin-bottom:20px;  }
.grid-txt { font-size:14px; color:#6a6a6a; margin:0; padding-top:5%; width:95%; float:left; text-align:left; }

.grid-1 { width:32%; float:left; background:#ffffff; margin-right:1%; padding-bottom:15px; }
.grid-1 .title { width:100%; float:left;font-family: 'Arial'; font-size:18px; color:#504e4e; padding:5px 0px;font-weight:bold; }
.grid-1 .icons { width:100%; float:left; padding:0px; border-top:2px solid #FFFFFF; }

.grid-2 { width:32%; float:left; background:#ffffff; margin-right:1%; padding-bottom:15px; }
.grid-2 .title { width:100%; float:left;font-family: 'Arial'; font-size:18px; color:#504e4e; padding:5px 0;text-align:center; font-weight:bold; }
.grid-2 .icons { width:100%; float:left; padding:0px; border-top:2px solid #FFFFFF; }

.grid-3 { width:32%; float:left; background:#ffffff; margin-right:1%; padding-bottom:15px;  }

.startherebg { background-color:#008cbf; width:100%; height:320px;  }
.startheretitle { color:#ffbf33; font-family:Arial, Helvetica, sans-serif; font-size:25px; font-weight:bold; text-align:center; padding-top:10px;}
.starthereslogan { color:#fff; font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; text-align:center;}
.starthereslogansub { color:#fff; font-family:Arial, Helvetica, sans-serif; font-size:13px; text-align:center;}

.form{ width:90%;margin:10px auto;}
.form input[type="text"], .form input[type="password"] { border:1px solid #CCCCCC;width:95%;font-size:14px;padding:8px 2px;font-family:Arial, Helvetica, sans-serif;color:#999999;font-weight:normal; margin-bottom:10px; }

.grid-3 .icons { width:100%; float:left; padding:0px; }

.logobg { background:url(../images/logo_bg.png) left top repeat-x; height:63px;padding-top:3%; }

.previousimgs {float:left;background:url(../images/previous_arrow.png) left top no-repeat; height:36px; margin-bottom:2%;  margin-top:-1%; width:3%;  }
.nextimg {float:left;background:url(../images/next_arrow.png) left top no-repeat; height:36px; margin-bottom:2%; width:3%; margin-top:-1%;}

.logoarea { float:left;width:100%; margin-top:-2%;}

.footerbg { background-color:#333333; height:300px; }

.footerbg .gridboxleft { width:30%; float:left; margin-right:1%; }
.footerbg .gridboxright { width:30%; float:left; margin-right:1%; }

.footerbg .gridboximg { width:36%; float:left; margin-right:1%; margin-top:2%; }

.footerbg .gridboxleft .title { width:100%; float:left;font-family: 'Arial'; font-size:17px; color:#fff; padding:15px 0px;font-weight:bold; }
.footerbg .gridboxleft .grid-txt { font-size:14px; color:#888787; margin:0; padding-top:5%; width:95%; float:left;  }

.footerbg .gridboxright .title { width:100%; float:left;font-family: 'Arial'; font-size:17px; color:#fff; padding:15px 0px;font-weight:bold; }
.footerbg .gridboxright .grid-txt { font-size:14px; color:#888787; margin:0; padding-top:5%; width:95%; float:left; }

.footerbluestrip { background-color:#00c8eb; height:40px; }
.footergraytrip { background-color:#fefefe; height:40px; }

#bottommenu{ float:left; padding-top:12px; width:70%; }
#bottommenu ul { margin:0px; padding:0px;}
#bottommenu ul li { list-style:none; float:left; font-family:"Arial";color:#FFFFFF; text-transform:uppercase;font-size:12px; padding-right:3%; }
#bottommenu ul li a { font-family:"Arial";color:#FFFFFF; text-decoration:none; text-transform:uppercase;font-size:12px; }

#sociallinks{ float:right; font-family:"Arial";color:#FFFFFF; text-transform:uppercase;font-size:17px; padding-top:8px; }

#footercopyright{ text-align:center;float:left; padding-top:10px;}
#footercopyright span{ color: #00CCFF;font-weight:bold; }
#footerlinks{ text-align:center;float:right;padding-top:10px;}
#footerlinks a { text-decoration:none; color: #888787; }

#menu { display:none; }

.forms { width:280px;float:left; }
.forms label { font-size:18px;padding:3px;color:#999999; }
.forms input[type="text"], .forms input[type="password"] { border:1px solid #CCCCCC;width:95%;font-size:14px;padding:8px 2px;font-family:Arial, Helvetica, sans-serif;color:#999999;font-weight:normal; margin-bottom:10px; }
.link { color: #0099CC;text-decoration:none; font-size:12px;}

@media only screen and (max-width: 1024px) {
	
	.leftblueboxstrip { width:50%; float:left; background:#ffffff; margin-right:1%; padding-bottom:15px; }
	.rightblueboxstrip { width:50%; float:left; background:#ffffff; margin-right:1%; padding-bottom:15px; }
	
	.videos { position:absolute;margin-left:425px;margin-top:65px; }
	video {
		height: 200px;
		width: 280px;
		-webkit-transform-style: preserve-3d;
	}
	
	.bluebox ul li { 
		width:33%;
	}
	
	.boxL { margin:70px 10px 0px 0px;width:30%;  }
	.boxC { margin:25px 10px 0px 0px;width:30%; }
	.boxR { margin:25px 0px 0px 0px;width:33%; }
	.boxC img,.boxR img { width:100%; }
	.rightborder img { width:90%;}
	.contentbox { margin:10px 0px; }
	.rightnetwork { margin-left:10px; }

	.greyimage img{ width:80%; margin-top:30px; }
	.greyimage1 img{ width:80%; margin-top:30px;  }
	.graysubheader #wrapper{ width:80%; min-height:200px; }

	.logobg { background:url(../images/logo_bg.png) left top repeat-x; height:74px;padding-top:3%; }
	.login-box { float:right; width:35%; padding:5px 0px 0px 0px; }
	
	nav { float:right; width:60%; text-align:center; font-size:	10px; padding-top:3%;}
	
	.buildingslogan{ width:40%; margin-top:50px; margin-left:40px;float:left; font-family:"Segoe UI";color:#FFFFFF;font-size:27px;  text-shadow:1px 1px 1px #000;}
	.buildingslogan span { font-weight:bold;font-size:37px; }
	.monitor img { width:50%; margin-top:65px;float:right;margin-right:10px; }
	
	.grid { width:96%; float:left; margin-bottom:20px; margin-left:15px;  }
	.grid-txt { font-size:14px; color:#6a6a6a; margin:0; padding-top:5%; width:95%; float:left; text-align:left; }
	
	.grid-1 { width:45%; float:left; background:#ffffff; margin-right:1%; padding-bottom:15px; }
	.grid-2 { width:45%; float:left; background:#ffffff; margin-right:1%; padding-bottom:15px; }
	.grid-3 { width:100%; float:left; background:#ffffff; margin-right:1%; padding-bottom:15px;  }
	
	.footerbg .gridboxleft { width:55%; float:left; margin-right:1%; }
	.footerbg .gridboxright { display:none; }

	#bottommenu{ float:left; padding-top:12px; width:75%; }
	#bottommenu ul li { list-style:none; float:left; font-family:"Arial";color:#FFFFFF; text-transform:uppercase;font-size:10px; padding-right:1%;padding-left:2%; }

	#sociallinks{ float:right; font-family:"Arial";color:#FFFFFF; text-transform:uppercase;font-size:10px; padding-top:8px; }
	
	#footercopyright{ text-align:center;float:left; padding-top:10px; padding-right:10px;}
	#footercopyright span{ color: #00CCFF;font-weight:bold; }
	
	#footercopyright{ text-align:center;float:left; padding-top:10px;margin-left:12px;}
	#footerlinks{ text-align:center;float:right;padding-top:10px;margin-right:12px;}
	#footerlinks a { text-decoration:none; color: #888787; }

}

@media only screen and (max-width: 900px) {

.videos { position:absolute;margin-left:445px;margin-top:80px; }
video {
	height: 190px;
	width: 298px;
	-webkit-transform-style: preserve-3d;
}
}


@media only screen and (max-width: 800px) {
.videos { position:absolute;margin-left:425px;margin-top:80px; }
video {
	height: 185px;
	width: 280px;
	-webkit-transform-style: preserve-3d;
}

}


@media only screen and (min-width: 767px) and (max-width: 800px) {
	

}

@media only screen and (max-width: 767px){



}

@media only screen and (max-width: 640px) {

.videos { position:absolute;margin-left:165px;margin-top:146px; }
video {
	height: 161px;
	width: 247px;
	-webkit-transform-style: preserve-3d;
}
	.leftblueboxstrip { width:60%; float:left; background:#ffffff; margin-right:1%; padding-bottom:15px; }
	.rightblueboxstrip { width:50%; float:left; background:#ffffff; margin-right:1%; padding-bottom:15px; }
	.centertext { width:100%;}
	
.greyimage { margin:40px 0px 20px 10px; }
.greyimage img{ width:80%; margin-top:30px; }
.greyimage1 img{ width:80%; margin-top:10px;  }
.graysubheader #wrapper{ width:92%; min-height:200px; }

.rightnetwork { margin-left:26px; width:50%; }
.rightnetwork img { width:98%; }
.buildingslogan{ width:40%; margin-top:50px; margin-left:10px;float:left; font-family:"Segoe UI";color:#FFFFFF;font-size:27px;  text-shadow:1px 1px 1px #000;}
.buildingslogan span { font-weight:bold;font-size:37px; }
.monitor img { width:55%; margin-top:65px;float:right;margin-right:10px; }

.total_images{
    margin: 0px auto;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1.4px;
}

.total_images .eachs{
	position:absolute
}
#link1{
 width:90.8%;
}
.eachs img.images{
   opacity:1;
   display:none;
}

a.hovered{color:#000; display:block; text-decoration:none;}
a.menu{ color:#000; display:block; text-decoration:none;}

.eachs { width:100%; text-align:center; text-align: left; color: #eee; }
.total_images .eachs a.menu:hover{ color:#000;-moz-border-radius: 5px; -webkit-border-radius: 5px; }

.eachs div{
    list-style:none;
    position:absolute;
	width:100%;
    font-size:20px;
	color:#fff;
	text-align:left;
    display:none;
}
.eachs div ul{ margin-top:10px; padding:0px; list-style-type:none;}
.eachs div li{ width: 101%; padding-bottom:10px;padding-left:10px; background-color:#01a3d4;}
.eachs div li:hover{ background-color:#0e508d;}
.eachs div li a{ font-size:12px; padding-top:8px; vertical-align:bottom;  display:block; }
.eachs div a {
    text-decoration:none;
    text-transform:uppercase;
    color:#fff;
}

nav { display:none; }
.login-box { display:none; }
#bottommenu { display:none; }
.grid-2 { min-height:380px; }
.startherebg { clear:both; width:204%; }

#sociallinks{ font-family:Arial, Helvetica, sans-serif;color:#FFFFFF; text-transform:uppercase;font-size:17px; margin-top:-10px; float:left; margin-left:170px; }

.logobg { background:url(../images/logo_bg.png) left top repeat-x; height:87px;padding-top:3%; }

.gridboxright {display:none; }

.footerbg { background-color:#333333; height:260px; }
.footerbg .gridboxleft { width:50%; float:left; margin:1%; }

.footerbg .gridboxleft .grid-txt { font-size:13px; }
.footerbg .gridboximg { width:45%; float:left; margin-right:1%; margin-top:2%; }
.footerbg .gridboximg img { width:100% }

.top { background-color:#fefefe; }

.buildingslogan{ width:100%; text-align:center; margin-top:10px;float:left; font-family:"Segoe UI";color:#FFFFFF;font-size:20px;  text-shadow:1px 1px 1px #000;}
.buildingslogan span { font-weight:bold;font-size:34px; }

.monitor img { clear:both; float:left; width:60%; margin-top:20px;margin-left:120px;}

.grid { width:97%; float:left; margin-bottom:20px; }

.grid-1 { width:49%; float:left; }
.grid-1 img { width:90%; }
.grid-2 { width:49%; float:right; margin:0; }
.grid-2 img { width:90%; }
.grid-3 { width:49%; float:left; }

.clearnone { display:block; height:10px; }

.logo img { width:100%; }
.quick-quote-main { width:100%; float:left; background:#ffffff; -webkit-border-radius: 8px; border-radius: 8px; -webkit-box-shadow: 0px 0px 1px 1px #cececd; box-shadow: 0px 0px 1px 1px #cececd;  }
.banner { width:100%; float:right; margin-top:25px;}
.quote-form label { width:95%; margin-right:0;}
.logo { width:50%; text-align:center;margin: 0 auto;float:none;}
.login-box { float:right; width:60%; padding:0px 0 0 0; }
.seo-quick-quote-main { width:100%;}
.seo-left {width:96%;}
.seo-right{width:100%;}
.grid-5 .title {width:96%;padding:7px 8px 7px 17px;}
.mr1{margin-top:22px;} 

#menu { width:100%; float:left; display:block; margin:0 0 45px 0; z-index:99999;}
#menu select{width:100%; border:1px solid #CCCCCC; float:left; line-height:30px; font-family: 'Arial'; cursor:pointer; font-size:12px; text-transform:uppercase; !important; background:#fff; padding:1%; }
.s-menu{ padding:2px 0 2px 2%;float:left; }
}

@media only screen and (max-width: 600px) {

.videos { position:absolute;margin-left:103px;margin-top:146px; }
video {
	height: 161px;
	width: 243px;
	-webkit-transform-style: preserve-3d;
}

.centertext { width:70%;}

.greyimage { margin:10px 0px 0px 15px; }
.greyimage img{ width:85%; margin-top:30px; }
.greyimage1 img{ width:85%; margin-top:-10px;  }
.graysubheader #wrapper{ width:100%; min-height:200px; }

.monitor img { width:75%; margin-top:20px;float:right;margin-right:50px; }
.grid-1 .title { font-size:12px; }
.grid-2 .title { font-size:12px; }

.footerbg .gridboxleft .title { font-size:12px; }
.footerbg .gridboxleft .grid-txt { font-size:12px; }

#sociallinks { margin-left:100px;margin-top:-2px; }

.logobg { height:91px; }
}

@media only screen and (max-width: 480px) {

	.videos { position:absolute;margin-left:40px;margin-top:30px; }
	video {
		height: 133px;
		width: 200px;
		-webkit-transform-style: preserve-3d;
	}
	
	#wrapper .grid { margin-left:-10px; }
	
	.fixwidth { width:90%; }
	.bluebox ul li { 
		width:70%;
	}
	
	.boxL { width:100%;  }
	.boxC { width:30%; }
	.boxR { width:100%; }
	.boxC img,.boxR img { width:100%; }
	
	.rightborder { border-bottom:4px dotted #CCCCCC; border-right:none; width:100%; padding-bottom:15px; }
	
	.rightnetwork { margin-left:0px; margin-top:15px; width:100%;}
	.rightnetwork img { width:98%; }
	.contentbox img { width:30%; padding-right:4px; }
	.centertext { width:100%;margin-bottom:15px;}
	
	.logo { width:100%; }
	.logo img { width: 100%; }
	 nav { display:none; }
	 
	.grid-2 { min-height:180px; }
	.startherebg { width:100%; }
	
	.gridboxleft {display:none; }
	.gridboxright {display:none; }
	#bottommenu { display:none; }
	
	.logobg { background:url(../images/logo_bg.png) left top repeat-x; height:95px;padding-top:3%; }
	
	#sociallinks{ margin-top:-2px; float:left; margin-left:25px; }
	
	#footerlinks{ padding-bottom:5px; }
		
	.footerbg { background-color:#333333; height:230px; }
	.footerbg .gridboximg { width:92%; float:left; margin-right:1%; margin:5% 45% 0% 0%; }
	.footerbg .gridboximg img { width:100%; margin-left:25px; }

	.login-box { display:none; }
	.top { background-color:#fefefe; }
	.headerimg { background:url(../images/header_bg.png) left top repeat-x transparent; height:180px; }
	.monitor img { margin-right:3px;width:98%; }
	
	.grid-1 { width:100%; float:left; margin:0 0 10px 0; }
	.grid-2 { width:100%; float:left; margin:0 0 10px 0; }
	.grid-3 { width:100%; float:left; margin:0 0 10px 0; }
	.clearnone { display:none; }
	#link1{
	 width:88%;
	}
	#menu { width:100%; float:left; display:block; margin:0 0 40px 0; z-index:99999;}
	#menu select{width:100%; border:1px solid #CCCCCC; float:left; line-height:30px; font-family: 'Arial'; cursor:pointer; font-size:12px; text-transform:uppercase; !important; background:#fff; padding:1%; }
	.s-menu{ padding:2px 0 2px 2%;float:left; }
	#monitorslogan { display:none; }
}